﻿
@{
    ViewBag.Title = "Index";
}

<html>
<head>
</head>
<body>
    <form id="form1" runat="server">
        <div id="content">111</div>
        <div id="divDate">222</div>
        <div id="divTest">333</div>
    </form>
    @*<div id="content"></div>
        <div id="content1"></div>
        <div id="root"></div>*@
    <script src="@Url.Content("~/Scripts/react/react.js")"></script>
    <script src="@Url.Content("~/Scripts/react/react-dom.js")"></script>
    <script src="@Url.Content("~/Scripts/react/remarkable.min.js")"></script>
    <script src="@Url.Content("~/Scripts/react/babel.min.js")"></script>
    <script type="text/jsx" src="@Url.Content("~/js/date.jsx")"></script>
</body>
</html>

