﻿@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>
    <div id="content2"></div>
    <div id="root"></div>
    <div id="divDate">222</div>
    <div id="IamButton"></div>
    <div id="testApp"></div>
    <div id="testApp2"></div>
    <div id="testApp3"></div>
    <div id="testApp4"></div>
    <div id="testApp5"></div>
    <div id="testApp6"></div>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/react/react.js")"></script>
    <script src="@Url.Content("~/Scripts/react/react-dom.js")"></script>
    <script src="@Url.Content("~/Scripts/react/remarkable.min.js")"></script>
    <script src="@Url.Content("~/Scripts/react/babel.min.js")"></script>
    <script type="text/jsx" src="@Url.Content("~/Scripts/jsx/HelloWorld.jsx")">
    </script>
</body>
</html>  